.options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.button,
.resetButton {
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 6px 12px;
}

.button:hover,
.resetButton:hover {
    background-color: #e0e0e0;
    transition: all 0.3s ease;
}